<div class="container">
  <h1>WDI Client Example</h1>

  <ng-container *ngIf="uiState === 'needsPermission'">  
    <p>This app will send your camera/microphone to the WDI server of choice.
      Looks like you haven't granted permission to use your webcam yet.
      Click below to get started. You will see a permission prompt from your 
      browser to allow access to your camera and microphone.
    </p>

    <button (click)="acquirePermission()">Start camera</button>
  </ng-container>
  <ng-container *ngIf="uiState === 'deviceSelect'"> 
    <p>Choose the media source you wish to send below.</p>

    <div class="property">
      <label>
        Type:
      </label>
      <select class="device-selector" [(ngModel)]="mediaType">
        <option value="webcam">Webcam / Microphone</option>
        <option value="screen">Screen Capture</option>
        <option value="html5">HTML5 Media</option>
      </select>
    </div>

    <ng-container *ngIf="mediaType === 'html5'">
      <div class="property">
        <label>
          URL:
        </label>
        <input type="text" [(ngModel)]="mediaUrl" />
      </div>
      <div>
        <br/>
        <em>Note: The video must have the proper CORS headers for the origin you are running on. 
          For testing purposes, you may wish to use a browser extension to temporarily disable 
          CORS. WARNING: Use such an extension only during testing. Disabling CORS for all websites 
          may allow attackers to access your credentials or private information on unrelated websites! 
        </em>
      </div>
    </ng-container>
    <ng-container *ngIf="mediaType === 'webcam'">
      <div class="property">
        <label>
          Camera:
        </label>
        <select class="device-selector" [(ngModel)]="videoInputId">
          <option *ngFor="let device of videoInputs" [value]="device.deviceId">{{device.label}}</option>
        </select>
      </div>

      <div class="property">
        <label>Microphone:</label>
        <select class="device-selector" [(ngModel)]="audioInputId">
          <option *ngFor="let device of audioInputs" [value]="device.deviceId">{{device.label}}</option>
        </select>
      </div>
    </ng-container>

    <p>Once you have selected your media source above, click below to get started.</p>
    <button (click)="acquireCamera()">Continue</button>
  </ng-container>

  <ng-container *ngIf="uiState === 'sessionSettings'">
    <video autoplay muted [srcObject]="stream"></video>

    <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>

    <p>Enter the URL of the WDI server and the RTMP destination you wish to 
      instruct the WDI server to forward the streamed media to.</p>

    <div class="property">
      <label>WDI Server:</label>
      <input type="text" [(ngModel)]="serverUrl" />
    </div>
    
    <div class="property">
      <label>Destination:</label>
      <input type="text" [(ngModel)]="rtmpUrl" placeholder="rtmp://server/streamname/streamkey" />
    </div>
    <br/>
    <button (click)="startSending()">Start sending</button>
  </ng-container>

  <ng-container *ngIf="uiState === 'sending'">
    <video autoplay muted [srcObject]="stream"></video>
    <ng-container *ngIf="!connected">
      Connecting...
    </ng-container>
    <ng-container *ngIf="connected">
      Connected!
    </ng-container>
  </ng-container>

  <br/>
  <br/>
  <hr/>

  <pre class="debug">
    UI state: {{uiState}}
  </pre>
</div>